<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employees | Thymeleaf</title>
    <link rel="stylesheet" th:href="@{styles/style.css}">
</head>
<body>
<div th:replace="fragments/fragment :: header"></div>
<h1>Employee List</h1>
<table>
    <tr>
        <td><strong>ID</strong></td>
        <td><strong>First name</strong></td>
        <td><strong>Last name</strong></td>
    </tr>
    <th:block th:each="employee: ${employeeList}">
        <tr>
            <td th:text="${employee.id}"></td>
            <td th:text="${employee.firstName}"></td>
            <td th:text="${employee.lastName}"></td>
        </tr>
    </th:block>
</table>
<a th:href="@{/register}">New employee</a>
<div th:replace="fragments/fragment :: footer"></div>
</body>
</html>
